body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(bluegrey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  border: 1px solid rgb(0, 0, 0);
  background: #d3bf9f;
  border-radius: 5px;
}
/* heieiugreiugh
grgege
etht
h
eth
eth
eth
eth
h */
.ui-card-favorites {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  border: 1px solid rgb(0, 0, 0);
  background: #d3bf9f;
  border-radius: 5px;
}

div.ui-card-favorites:hover {
  background-color: #bde8c1;
  box-shadow: 10;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}

.ui-card p {
  color: rgb(0, 0, 0);
  text-align: center;
}

.ui-card h1,
h2,
h3 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.moreinfobtn {
  margin-left: 120px;
  width: 160px;
}

.scavengerpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.logscontainer {
  margin-left: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-top: 30px;
}

.cardimg {
  max-width: 400px;
  height: 300px;
}

.logpage {
  margin-left: 2%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 30px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.maindetailimg {
  height: 700px;
  width: auto;
}

.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 90px;
  width: auto;
}

.background-img {
  height: auto;
  width: 100%;
}

.homecontainer {
  position: relative;
  text-align: center;
}

.centerish {
  position: absolute;
  top: 70%;
  left: 45%;
}

.centerish-photo img {
  position: absolute;
  top: -20%;
  left: 33%;
  height: 35px;
}

.whitetext {
  color: white;
}

.home-input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.wrapper {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 30px;
}

.detailimg {
  max-width: 400px;
  height: 300px;
}

.details-photo-wrapper {
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.loghead {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loghead img {
  height: 160px;
  width: auto;
}

span button {
  color: #fff;
  text-align: center;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #495d4e;
  border: none;
  border-radius: 105px;
  box-shadow: 0 3px #999;
}

span button:hover {
  text-align: center;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #c56c39;
  border: none;
  border-radius: 105px;
  box-shadow: 2 8px #999;
}

div.ui-card:hover {
  background-color: #f8b195;
  box-shadow: 10;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition: 1s ease;
}

form {
  position: center;
}

.logform {
  border: black;
}

.logpage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 50%;
}

.favoriteslistcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul.nav-links li {
  color: black;
  text-align: center;
}

ul.nav-links {
  text-align: center;
  margin-right: 350px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: rgb(73, 79, 82);
  border: none;
  border-radius: 105px;
  box-shadow: 0 0px #999;
}

ul.nav-links:hover {
  text-align: center;
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: rgb(73, 79, 82);
  border: none;
  border-radius: 105px;
  box-shadow: 0 5px #999;
}

ul.nav-links a {
  color: blue;
}

h3,
h4 {
  text-align: center;
  color: black;
  margin: 10px;
}

div.wrapper {
  background: rgb(73, 79, 82);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}

form span button {
  margin-left: 10px;
}

form input {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 3px #999;
}

form input:hover {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 3px #999;
}
